{% extends 'base.html.twig' %}

{% block title %}{{parent()}} Profile page{% endblock %}

{% block body %}
<div class="profileSection" id="profile"> 
    <div class="row" id="columnProfile">
        <div class="col-md-4">
            <div class="profileResponsive">
                <h1 id="details"> 
                    My details  
                    <a href="{{ path('update_profile', { 'currentUser' : app.user.getId() }) }}" class="text-warning">
                        <i class="fas fa-edit profile"></i>
                    </a>
                    <a href="{{ path('update_password', { 'currentUser' : app.user.getId() }) }}" class="text-primary">
                        <i class="fas fa-key profile"></i>
                    </a>
                    <a data-toggle="modal" data-target="#deleteUserModal" class="text-danger">
                        <i class="fas fa-trash-alt profile"></i>
                    </a>
                </h1>

                <!-- Modal -->
                <div class="modal fade" id="deleteUserModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="deleteModalLabel">Delete this profile</h5>
                            </div>
                            <div class="modal-body">
                                Do you want delete your profile ?
                            </div>
                            <div class="modal-footer">
                                <a href="{{ path('delete_profile', { 'currentUser' : app.user.getId() }) }}" style="text-decoration: none;" class="btn btn-success">
                                Yes</a>
                                <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="userPartResponsive">
                    <div>
                        {% if app.user.getPicture is empty %}
                        <img class="profileImage" width="200" src="../img/default.jpg" alt="Card image cap">

                        {% else %}
                        <img class="profileImage" width="200"src="{{ path('download_document', {'document': app.user.getPicture().getId()})  }}" alt="Card image cap" >
                        {% endif %}
                    </div>
                    <div>
                        <h4 class="username"> {{ app.user.getUsername() }} <h4>
                        <h6> {{ app.user.getFirstname() }} {{ app.user.getLastname() }} <h6>
                        <p> {{ app.user.getEmail() }} </p>
                        <p> {{ app.user.getCountry() }} </p>
                        <p> {{ app.user.getDateOfBirth()| date('Y-m-d') }} </p>
                    </div>
                </div>
            </div>

            <br>

            <div>
                <h1> My Dudes </h1>
                {% if app.user.getFriends() is empty %}
                    You don't have any friend. Become mine <a href="https://giphy.com/gifs/fuck-you-middle-finger-mrs-doubtfire-w1XrYq5PsCbyE">here</a>.
                {% else %}
                    <ul>
                        {# <li>{{ app.user.getFriends() }}</li>#}
                    </ul>
                {% endif %}
            </div>

            <br>

            <div>
                <h1> My games </h1>
                {% if app.user.getUserCharacters is empty %}
                    Choose some games.
                {% else %}

                <ul>
                    {% for character in app.user.getUserCharacters() %}
                        <li> {{ character.getGame().getTitle()}} </li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
        </div>

        <div class="col-md-8">
            <h1>List of characters</h1>

            <div style="font-size: 1.4em;">
                <a href="{{ path('add_character') }}#addChar" style="text-decoration: none;">
                    <i class="fas fa-user-plus"></i>
                </a>
            </div>

            <br>

            <table class="table">
                <thead>
                    <tr>
                        <th>NAME</td>
                        <th>LEVEL</th>
                        <th>DETAIL</th>
                        <th>GAME</td>
                        <th>PICTURE</th>
                        <th>ACTION</th>
                    </tr>
                </thead>

                <tbody>
                    {% for userCharacter in userCharacters %}
                    {% if userCharacter.getReport() == false %}
                    <tr>
                        <td>{{ userCharacter.getName() }}</td>
                        <td>{{ userCharacter.getLevel() }}</td>
                        <td>{{ userCharacter.getDetail() | slice(0,80) }}</td>
                        <td>{{ userCharacter.getGame().getTitle() }}</td>
                        {% if userCharacter.getPicture() is not empty %}
                            <td>
                                <img src="{{ path('download_document', { 'document': userCharacter.getPicture().getId() }) }}" width="120" />
                            </td>
                        {% else %}
                            <td></td>
                        {% endif %}
                        <td class="text-center">
                            <a href="{{ path('report_character', { 'character_id': userCharacter.getId() }) }}" class="text-primary">
                                <i class="fab fa-font-awesome-flag"></i>
                            </a>
                            <a href="{{ path('edit_character', { 'character_id': userCharacter.getId() }) }}">
                                <i class="fas fa-edit"></i>
                            </a>
                            <a data-toggle="modal" data-target="#deleteModal_{{userCharacter.getName()}}">
                                <i class="fas fa-trash-alt"></i>
                            </a>

                            <!-- Modal -->
                            <div class="modal fade" id="deleteModal_{{ userCharacter.getName() }}" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="deleteModalLabel">Delete character</h5>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            Do you want delete the character {{ userCharacter.getName() }} ? 
                                        </div>
                                        <div class="modal-footer">
                                            <a href="{{ path('delete_character', { 'character_id': userCharacter.getId() }) }}" style="text-decoration: none;" class="btn btn-success">
                                            Yes</a>
                                            <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>   
    {# <div> {{ form() }} </div> #}
{% endblock %}