{% extends 'Admin/base.html.twig' %}

{% block title %}{{ parent() }}User details{% endblock %}

{% block body %}
        
        <section id="main-container">

            {{ form_start(updateForm) }}
                <div>
                    {{ form_row(updateForm.username) }}
                    {{ form_row(updateForm.firstname) }}
                    {{ form_row(updateForm.lastname) }}
                    {{ form_row(updateForm.email) }}
                    {{ form_row(updateForm.country) }}
                    {{ form_row(updateForm.dateOfBirth) }}
                    {{ form_row(updateForm.role) }}
                </div>

                <div class="form-group-row">
                    {{ form_row(updateForm.Cancel) }}
                    {{ form_row(updateForm.Update) }}
                </div>
            {{ form_end(updateForm) }}

        </section>

{% endblock %}