{% extends 'base.html.twig' %}

{% block title %} {{parent()}} Homepage {% endblock %}

{% block body %}

    <div class="row">
        <div class="col-md-3" id="leftbar">
            {% block leftside %}
                {% include 'leftsidebar.html.twig' %}
            {% endblock %}
        </div>

        <div class="col-md-6">
            {% block mainsection %}
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <div class="container">
                        {{ form(homePostForm) }}
                    </div>
                    <hr>
                {% endif %}

                <h1 id="posts">Posts</h1>
                
                {% set postCount = pagination.getTotalItemCount %}
                {% if postCount == 0 %}
                    <p>No post found in the website</p>
                {% else %}
                    {% for post in pagination %}   
                        <div class="card">
                            <div class="card-body">
                                <img src="{{ path('download_document', {'document': post.getUser().getId() })  }}" alt="">
                                <h5 class="card-title"> {{ post.getUser().getUsername() }} </h5>
                                <hr>
                                <p class="card-text">{{ post.getContent() }}</p>
                                <p class="blockquote-footer">{{ post.getDatetime()|date('Y-m-d H:i:s') }}</p>
                            </div>
                            <div class="card-footer text-muted">
                                <a href="{{ path("wall_comment", {post: post.getId()}) }}" class="btn btn-info" role="button">Comment the post</a>
                            </div>
                        </div>    
                        <br>  
                    {% endfor %}
                    <div class="pagination">
                        {{ knp_pagination_render(pagination) }}
                    </div>
                {% endif %}
            {% endblock %}
        </div>

        <div class="col-md-3" id="rightbar">
            {% block rightside %}
             <h2>Games</h2>
                {% for game in games %}
                    <ul>
                    <li><a href="#">{{ game.getTitle() }}</a> <p>{{ game.getDescription|slice(0,75) }}..</p></li>
                    </ul>

                {% else %}
                No games ..

                {% endfor %}
                <a class="btn btn-secondary" href="#" role="button">View details &raquo;</a>

             {% endblock %}
            </div>
        </div>

{% endblock %}

