{% extends 'base.html.twig' %}

{% block title %} {{parent()}} Homepage {% endblock %}

{% block body %}

    <div class="row">
        <div class="col-md-3" id="leftbar">
            {% block leftside %}
                {% include 'leftsidebar.html.twig' %}
            {% endblock %}
        </div>

        <div class="col-md-6">
            {% block mainsection %}
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <div class="container">
                        {{ form(homePostForm) }}
                    </div>
                    <hr>
                {% endif %}

                <h1 id="posts">Posts</h1>
                
                {% set postCount = pagination.getTotalItemCount %}
                {% if postCount == 0 %}
                    <p>No post found in the website</p>
                {% else %}
                    {% for post in pagination %}   
                        <div class="card">
                            <div class="card-body">
                                <div class="card-title">
                                    {% if post.getUser().getPicture() is not empty %}
                                        <img src="{{ path('download_document', {'document': post.getUser().getPicture().getId() })  }}" alt="Thumbnail of user avatar" class="thumbnail">
                                    {% else %}
                                        <img src="{{ asset('img/default.jpg') }}" alt="Default avatar for user" class="thumbnail">
                                    {% endif %}
                                    <h5> {{ post.getUser().getUsername() }} </h5>
                                </div>
                                <hr>
                                <p class="card-text">{{ post.getContent() }}</p>
                                <p class="blockquote-footer">{{ post.getDatetime()|date('Y-m-d H:i:s') }}</p>
                            </div>

                            <div class="card-footer text-center">
                                <a href="{{ path("wall_comment", {post: post.getId()}) }}" class="btn btn-info" role="button">Comment the post</a>
                             {#   {% if post.getUser().getId() == userId.getId() %}
                                    <a href="{{ path("post_own_delete", {postID: post.getID()}) }}" class="btn btn-danger" role="button"><i class="fas fa-trash-alt"></i></a>
                                {% else %}
                                {% endif %} #}
                            </div>
                        </div>    
                        <br>  
                    {% endfor %}
                    <div class="pagination">
                        {{ knp_pagination_render(pagination) }}
                    </div>
                {% endif %}
            {% endblock %}
        </div>

        <div class="col-md-3" id="rightbar">
            {% block rightside %}
            <h2>Categories</h2>
            {% for category in categories %}
                 <ul>
                     <li><a href="#">{{ category.getLabel() }}</a></li>
                </ul>

            {% else %}
                 No categories ..
            {% endfor %}
            <br>

            <h2><a id="gamesButton" href="{{ path('games') }}">Games</a></h2>
            {% for game in games %}
                <ul>
                    <li><a href="#">{{ game.getTitle() }}</a> <p>{{ game.getDescription|slice(0,75) }}..</p></li>
                </ul>
            {% else %}
                No games ..
            {% endfor %}
             {% endblock %}
            </div>
        </div>

{% endblock %}

