
{% if is_granted('ROLE_USER') %}
<div class="card" style="width: 18rem;">
{% for user in users %}
{% if user.getPicture() is empty %}
    <img class="card-img-top" width="10" src="../img/default.jpg" alt="Card image cap" >
{% else %}
    <img class="card-img-top" src="{{ path('download_document', {'document': user.getPicture().getId()})  }}" alt="Card image cap">
{% endif %}
  <div class="card-body">

    <h5 class="card-title">{{ user.getUsername()}} </h5>

    {% if user.getUserCharacters() is empty %}
    <p>YOU DON'T PLAY ANY GAME ?? Impossible..</p>
    {% else %}
    {% for caracters in user.getUserCharacters() %}
    <h6> {{ caracters.getName() }} </h6>
    <p class="card-text"> {{ caracters.getDetail()|slice(0,140)}}</p>
    <p> {{ caracters.getGame().getTitle()}} </p>
    {% endfor %}
    {% endif %}
    
    {% if app.user.isFriend(user) == false %}
    <br>
    <a href="{{ path('user_info') }}#details" class="btn btn-block">Add Ninja</a>
    {% endif %}
  </div>
</div>
{% else %}
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="{{ asset('img/gamer.jpg') }}" alt="Card image cap">
  <div class="card-body">
    <h5 class="username">StripStraper Original©</h5>
    <p class="card-text">Mega gamer livin during the night, killing every games, coding in the same time, doesn't take shower, eating sushis.</p>
    <a href="{{ path('sign_up') }}#sign" class="btn btn-block">Discover more!</a>
  </div>
</div>
{% endfor %}
{% endif %}