{% extends 'base.html.twig' %}

{% block title %} {{parent()}} Wall {% endblock %}

{% block body %}

    <div id="wall" class="row">
        <div class="col-md-3" id="leftbar">
            {% block leftside %}
                {% include 'leftsidebar.html.twig' %}
            {% endblock %}
        </div>

        <div class="col-md-6">
            {% block mainsection %}
                <div class="container">
                    {{ form(postForm) }}
                </div>
                <hr>
 
                <h1 id="wallposts">Your posts</h1>

                {% set postCount = pagination.getTotalItemCount %}
                {% if postCount == 0 %}
                    <p>No post found in the website</p>
                {% else %}
                    {% for post in pagination %}   
                        <div class="card">
                            <div class="card-body">
                                <div class="card-title">
                                    {% if post.getUser().getPicture() is not empty %}
                                        <img src="{{ path('download_document', {'document': post.getUser().getPicture().getId() })  }}" alt="Thumbnail of user avatar" class="thumbnail">
                                    {% else %}
                                        <img src="{{ asset('img/default.jpg') }}" alt="Default avatar for user" class="thumbnail">
                                    {% endif %}
                                    <h5> {{ post.getUser().getUsername() }} </h5>
                                </div>
                                <hr>
                                <p class="card-text">{{ post.getContent() }}</p>
                                <p class="blockquote-footer">{{ post.getDatetime()|date('Y-m-d H:i:s') }}</p>
                            </div>
                            {% if post.getComments is empty %}
                                <div></div>
                            {% else %}
                                <div class="container">
                                    <table class="table table-striped homepage">
                                        <thead>
                                            <tr>
                                                <th>Creation date</th>
                                                <th>Username</th>
                                                <th>Content</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for comment in post.getComments() %}
                                                <tr>
                                                    <td>{{ comment.getDatetime()|date('Y-m-d H:i') }}</td>
                                                    <td>{{ comment.getUser().getUsername() }}</td>
                                                    <td>{{ comment.getContent() }}</td>
                                                </tr>  
                                            {% endfor %}
                                        </tbody>
                                    </table> 
                                </div> 
                            {% endif %}
                            <div class="card-footer text-muted text-center" >
                                <a href="{{ path("wall_comment", {post: post.getId()}) }}" class="btn" role="button" >Comment the post</a>
                            </div>
                        </div>    
                        <br>        
                    {% endfor %}
                    <div class="pagination">
                        {{ knp_pagination_render(pagination) }}
                    </div>
                {% endif %}
                
            {% endblock %}
        </div>

        <div class="col-md-3" id="rightbar">
            {% block rightside %}
                {% include 'rightsidebar.html.twig' %}
            {% endblock %}
        </div>
    </div>

{% endblock %}
