<header>
    <nav class="navbar navbar-expand-md">
        <a class="navbar-brand" href="{{ path('homepage') }}">
            <img src="{{ asset('img/LogoStripstrapTest.png') }}" width="300" height="70" alt="Logo of StripStrap">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <form class="form-inline mr-auto" id="searchbar">
                <a class="nav-link" href="{{ path('search') }}">Search</a>
            </form>
            <ul class="navbar-nav my-2 my-lg-0">
                {% if is_granted('ROLE_ADMIN') %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('admin_home') }}">Admin</a>
                </li>
                {% endif %}
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('wall_list') }}">Wall</a>
                </li>
                 <li class="nav-item">
                    <a class="nav-link" href="{{ path('user_info') }}">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('logout') }}">Logout</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('login') }}#log">LogIn</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('sign_up') }}">SignUp</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>
</header>

<main role="main">
    <div class="jumbotron" id="banner">
        <h1>StripStrap | By gamers for gamers</h1>
    </div>
    <div id="main" class="container-fluid">