{% if is_granted('ROLE_USER') %}
<div class="card" style="width: 18rem;">

  <img class="card-img-top" src="{{ path('download_document', {'document': app.user.getPicture().getId()})  }}" alt="Card image cap">
  <div class="card-body">

    <h5 class="card-title">{{ app.user.getUsername()}} </h5>
    <p class="card-text"> {{ app.user.getUserCharacter() }} </p>
    <p> Afficher les jeux</p>
    <h7>Level </h7>
    <br>
    <a href="{{ path('user_info') }}" class="btn btn-primary">Go to my profile</a>
  </div>
</div>
{% else %}
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="{{ asset('img/gamer.jpg') }}" alt="Card image cap">
  <div class="card-body">
    <h5 class="username">StripStraper Original©</h5>
    <p class="card-text">Mega gamer livin during the night, killing every games, coding in the same time, doesn't take shower, eating sushis.</p>
    <a href="{{ path('sign_in') }}" class="btn btn-primary">Discover more!</a>
  </div>
</div>
{% endif %}