{% if is_granted('ROLE_USER') %}
<div class="card">
{% if app.user.getPicture() is empty %}
    <img class="card-img-top" src="../img/default.jpg" alt="Card image cap" >
{% else %}
    <img class="card-img-top" src="{{ path('download_document', {'document': app.user.getPicture().getId()})  }}" alt="Card image cap">
{% endif %}
  <div class="card-body">

    <h5 class="card-title">{{ app.user.getUsername()}} </h5>

    {% if app.user.getUserCharacters() is empty %}
    <p>YOU DON'T PLAY ANY GAME ?? Impossible..</p>
    <a href="{{ path('user_info') }}">Choose one!</a>
    {% else %}
    <p class="card-text"> {{ app.user.getUserCharacters()[0].getDetail()|slice(0,140)}} <a href="{{ path('user_info') }}#details" >..suite</a></p>
    <p> {{ app.user.getUserCharacters()[0].getGame().getTitle()}} </p>
    {% endif %}

    {% if app.user.getUserCharacters() is empty %}
    <h7> You don't have any character, NOOB :/ </h7>
    <a href="{{ path('user_info') }}">Create one!</a>
    {% else %}
    <h7>Level {{ app.user.getUserCharacters()[0].getLevel()}} </h7>
    {% endif %}
    
    <br>
    <br>
    <a href="{{ path('user_info') }}" class="btn btn-block">Go to my profile</a>
  </div>
</div>
{% else %}
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="{{ asset('img/gamer.jpg') }}" alt="Card image cap">
  <div class="card-body">
    <h5 class="username">StripStraper Original©</h5>
    <p class="card-text">Mega gamer livin during the night, killing every games, coding in the same time, doesn't take shower, eating sushis.</p>
    <a href="{{ path('sign_up') }}" class="btn btn-block">Discover more!</a>
  </div>
</div>
{% endif %}